# Ignore virtual environment
venv/

# Ignore uploaded files
uploads/*

# Allow this placeholder to keep the folder in git
!uploads/.gitkeep

# VSCode settings
.vscode/

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Environment and config files
*.env
*.sqlite3
*.log

# Node or build files (if ever added)
node_modules/
dist/
build/

# System files
.DS_Store
Thumbs.db
